div {
    
  display: inline;
  padding: 25px;
  margin: 25px;
  width: 100px;
  height: 100px;
}
#color1{
    /* opacity use(0-not original colore display light colore,1-give orignal color visible) */
   background-color: rgba(0, 34, 255, 0.5);
   
}
#color2{
   background-color: rgb(0, 0, 255,0.75);
   /* display:none; */
   /* visibility: hidden; */
   
}
#color3{
    /* use opacity */
   background-color:rgb(0, 0, 255,1);
}
button {
  display: block;

}

